<ion-header>
  <ion-toolbar>
    <ion-title>getCode</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <ion-item>
              <ion-label position="floating">E-Mail</ion-label>
              <ion-input type="string" ngModel name="email" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Name</ion-label>
              <ion-input type="string" ngModel name="name" required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Company</ion-label>
              <ion-input type="string" ngModel name="company" required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">country</ion-label>
              <ion-input type="string" ngModel name="country" required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">adress</ion-label>
              <ion-input type="string" ngModel name="adress" required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">telephone</ion-label>
              <ion-input type="number" ngModel name="telephone" required>
              </ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button type="submit" color="primary" expand="block" [disabled]="!f.valid">
            GetCode
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button color="primary" expand="block" (click)="returnToAuth()">
            Return to Login
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <!-- <div class="ion-text-center">
    <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
  </div> -->

</ion-content>