<ion-header>
  <ion-toolbar>
    <ion-title>getCode</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <ion-item>
              <ion-label position="floating">E-Mail</ion-label>
              <ion-input type="string" ngModel name="email" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Name</ion-label>
              <ion-input type="string" ngModel name="name" required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Company</ion-label>
              <ion-input type="string" ngModel name="company" required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Country</ion-label>
              <ion-select placeholder="Landauswählen" ngModel name="country" required>
                <ion-select-option *ngFor="let country of countries">{{country.name}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Adress</ion-label>
              <ion-input type="string" ngModel name="adress" required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Telephone</ion-label>
              <ion-input type="number" ngModel name="telephone" required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Ansprechpartner</ion-label>
              <ion-input type="string" ngModel name="contactPerson" required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Art der Maschinellen Umsetzung</ion-label>
              <ion-input type="string" ngModel name="artOfWorking" required>
              </ion-input>
            </ion-item>
            <ion-row class="ion-padding-top">
              <ion-col offset-sm="3">
                <ion-label position="floating">Hiermit Akzeptiere ich die AGBs</ion-label>
              </ion-col>
              <ion-col offset-sm="3">
                <ion-checkbox ngModel name="abgsCheck" [(ngModel)]="agbs" required></ion-checkbox>
              </ion-col>
              <ion-col offset-sm="3">
                <ion-button (click)="presentModal()">Show AGBS</ion-button>
              </ion-col>
            </ion-row>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button type="submit" color="primary" expand="block" [disabled]="!f.valid">
            GetCode
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button color="primary" expand="block" (click)="returnToAuth()">
            Return to Login
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <!-- <div class="ion-text-center">
    <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
  </div> -->

</ion-content>