
<ion-list>
  <ion-list-header>
    <ion-label>Addition</ion-label>
  </ion-list-header>
<ion-item class="ion-padding-top">
  <ion-label  position="stacked">Wert 1</ion-label>
  <ion-icon slot="end"  name="information-circle-outline" (click)="openTodoModal()"></ion-icon>
  <ion-input type="number" placeholder="Wert 1 Eingeben" [(ngModel)]="value1"></ion-input>
</ion-item>
<ion-item class="ion-padding-top">
  <ion-label  position="stacked">Wert 2</ion-label>
  <ion-icon slot="end"  name="information-circle-outline" (click)="openTodoModal()"></ion-icon>
  <ion-input type="number" placeholder="Wert 2 Eingeben"[(ngModel)]="value2" ></ion-input>
</ion-item>
<ion-item class="ion-padding-top">
  <ion-label  position="stacked">Wert 3</ion-label>
  <ion-icon slot="end"  name="information-circle-outline" (click)="openTodoModal()"></ion-icon>
  <ion-input type="number" placeholder="Wert 3 Eingeben" [(ngModel)]="value3"></ion-input>
</ion-item>
<ion-item class="ion-padding-top">
  <ion-label  position="stacked">Wert 4</ion-label>
  <ion-icon slot="end"  name="information-circle-outline" (click)="openTodoModal()"></ion-icon>
  <ion-input type="number" placeholder="Wert 4 Eingeben" [(ngModel)]="value4"></ion-input>
</ion-item>
</ion-list>

<div class="ion-padding-top ion-padding-start ion-padding-end">
  <ion-button  (click)="calc()" size="large" expand="block" fill="outline">Berechnung Durchführen</ion-button>

  
</div>
 

