<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Calculate</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

</ion-content>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="enter-values">
      <ion-label>Daten Einagbe</ion-label>
      <ion-icon name="enter-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="summary">
      <ion-label>Berechnung</ion-label>
      <ion-icon name="calculator-outline"></ion-icon>
    </ion-tab-button>
    <!-- <ion-tab-button tab="summary">
      <ion-label>Zusammenfassung</ion-label>
      <ion-icon name="checkbox-outline"></ion-icon>
    </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>