

<ion-header>
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Werte Eingeben</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-toolbar color="medium-contrast">
    <ion-segment scrollable mode="md" color="primary" (ionChange)="segmentChanged($event)" value="calc1">
        <ion-segment-button value="calc1">
            <ion-label>Berechnung 1 </ion-label>
        </ion-segment-button>
        <ion-segment-button value="calc2">
            <ion-label>Berechnung 2</ion-label>
        </ion-segment-button>
        <ion-segment-button value="calc3">
            <ion-label>Berechnung 3</ion-label>
        </ion-segment-button>

    </ion-segment>

    

</ion-toolbar>

<ng-container *ngIf="state == 'calc1'">
  <app-calc1></app-calc1>
</ng-container>

<ng-container *ngIf="state == 'calc2'">
  <app-calc2></app-calc2>
</ng-container>

<ng-container *ngIf="state == 'calc3'">
  <app-calc3></app-calc3>
</ng-container>

</ion-content>