<ion-app>
  <ion-menu side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Chemie Calc
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/calculate">
            <ion-icon name="calculator-outline" slot="start"></ion-icon>
            <ion-label>{{'CALCULATION' | translate }}</ion-label>
          </ion-item>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/settings">
            <ion-icon name="settings-outline" slot="start"></ion-icon>
            <ion-label>{{'SETTINGS'| translate}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item lines="none" (click)="onLogout()" button>
          <ion-icon name="exit" slot="start"></ion-icon>
          <ion-label>{{'LOGOUT'| translate}}</ion-label>
        </ion-item>
      </ion-menu-toggle>

      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>