<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>


<ion-item>
  <ion-label>Bearbeiten</ion-label>
  <ion-toggle slot="end" checked [(ngModel)]="isEdidt"></ion-toggle>
</ion-item>

<ion-content>
  <ion-card>
    <ion-card-header>
      Persöhnliche Informationen
    </ion-card-header>
    <ion-card-content>
      <ion-label> Name: {{userData.name}}</ion-label>
    </ion-card-content>
    <ion-card-content>
      Email-Adresse: {{userData.email}}
    </ion-card-content>
    <ion-card-content>
      Company: {{userData.company}}
    </ion-card-content>
    <ion-card-content>
      Land:{{userData.country}}
    </ion-card-content>
    <ion-card-content>
      Adresse: {{userData.adress}}
    </ion-card-content>
    <ion-card-content>
      Telefon:{{userData.telephone}}
    </ion-card-content>
    <ion-card-content>
      Kontakt Person: {{userData.contactPerson}}
    </ion-card-content>
    <ion-card-content>
      Art of Working: {{userData.artOfWorking}}
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content>
  <ion-card *ngFor=" let user of users | async">
    <ion-card-header>
      Persöhnliche Informationen
    </ion-card-header>
    <ion-card-content>
      <ion-label> Name: {{user.name}}</ion-label>
    </ion-card-content>
    <ion-card-content>
      Email-Adresse: {{user.email}}
    </ion-card-content>
    <ion-card-content>
      Company: {{user.company}}
    </ion-card-content>
    <ion-card-content>
      Land:{{user.country}}
    </ion-card-content>
    <ion-card-content>
      Adresse: {{user.adress}}
    </ion-card-content>
    <ion-card-content>
      Telefon:{{user.telephone}}
    </ion-card-content>
    <ion-card-content>
      Kontakt Person: {{user.contactPerson}}
    </ion-card-content>
    <ion-card-content>
      Art of Working: {{user.artOfWorking}}
    </ion-card-content>
  </ion-card>
</ion-content>